{% include divider.html %}

<section class="support" id="support">
  <div class="grid-row">
    <div class="column-one-third"></div>
    <div class="column-one-third">
      <h2>How you can help</h2>
      <p>
        You can make a difference in the lives of not only these students, but their families and communities.
      </p>
      <div class="donate-button-container">
        <a href="donate.html" class="donate-button">Donate now</a>
      </div>
    </div>
    <div class="column-one-third"></div>
  </div>
</section>
