<header>
  <div class="grid-row">
    <a href="index.html">
      <div class="logo-type ">
        <div class="logo-word">mosaik</div>
      </div>
    </a>
    <nav>
      <a href="donate.html" class="donate-button">Donate now</a>
      <ul class="social">
        <li><a href="https://www.instagram.com/mosaik_education/"><img alt="Instagram icon" src="/assets/images/social/instagram_b.svg"></a></li>
        <li><a href="https://twitter.com/mosaikeducation"><img alt="Twitter icon" src="/assets/images/social/twitter_b.svg"></a></li>
        <li><a href="https://www.facebook.com/Mosaik-Education-479521909465132"><img alt="Facebook icon" src="/assets/images/social/facebook_b.svg"></a></li>
      </ul>
    </nav>
  </div>
</header>
