<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}"/>
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="/assets/css/styles.css">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#000000">
  <meta name="msapplication-TileColor" content="#f4d5d0">
  <meta name="theme-color" content="#f4d5d0">

  <!-- Google -->
  <meta name="google-site-verification" content="cbISdnKcS_jjU3p5NpkHEy1Egw3JcKV2XFAeENYsAYg" />
  <!-- Open Graph -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:url" content="http://www.mosaik.ngo">
  <meta property="og:site_name" content="Mosaik Education">
  <meta property="og:image" content="http://www.mosaik.ngo/assets/images/og-image.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name="twitter:url" content="http://www.mosaik.ngo" />
  <meta name="twitter:image" content="http://www.mosaik.ngo/assets/images/og-image.png" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129200080-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129200080-1');
  </script>
</head>
