<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="about-us" class="campaign">
    {% include header.html %}
    <main>
      {% include hero.html %}

      <section class="our-story">
        <div class="grid-row">
          <div class="column-two-thirds">
            <p class="medium-text">
              Our mission is to empower a community of refugees to shape and lead programmes that improve access to university.
            </p>
          </div>
          <div class="column-one-third">
          </div>
        </div>
      </section>
      {% include divider.html %}
      <section class="case-studies">
        <div class="grid-row heading centred">
          <div class="column-one-whole">
            <h2>Our programmes</h2>
          </div>
        </div>
        <div class="grid-row">
          <div class="column-one-third">
            <a href="/guidance-workshops.html">
              <div class="card">
                <div class="image"><img src="/assets/images/case-studies/workshops.jpg" alt="Students working at computers on a Mosaik guidance tool"></div>
                <div class="content">
                  <h3>Guidance workshops</h3>
                  <p>
                    Our Workshops help refugees find the university pathways best suited to them, set goals, and work on achieving them.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="column-one-third">
            <a href="/peer-to-peer.html">
              <div class="card">
                <div class="image"><img src="/assets/images/case-studies/jana_roula.jpg" alt="A screenshot of a Facebook Live event"></div>
                <div class="content">
                  <h3>Peer-to-peer learning</h3>
                  <p>
                    Peer-to-peer learning programmes are a platform to share advice, support, and stories about accessing university.
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="column-one-third">
            <a href="/english-classes.html">
              <div class="card">
                <div class="image"><img src="/assets/images/case-studies/english.jpg" alt="Students engaging in conversation"></div>
                <div class="content">
                  <h3>English classes</h3>
                  <p>
                    We emphasise dialogue and draw on student experiences, making content relevant to refugees’ lives. Our classes don’t rely on expensive course materials.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>

      {% include footer.html %}

    </main>
  </body>
</html>
