<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="{{page.title | downcase | replace: ' ', '-' }}">
    {% include header.html %}
    <main>
      {% include hero.html %}

        <section class="">
          <div class="grid-row">
            <div class="column-two-thirds">
              <p class="medium-text">
                English is the primary language in the majority of local universities and online education programmes
              </p>
              <p class="medium-text">
                There are few courses available for refugees, paid courses are unaffordable and free courses tend to use out-of-date methods.
              </p>
            </div>
          </div>
        </section>

        <div class="grid-row no-padding-top">
          <div class="column-one-whole">
            <div class="divider"></div>
          </div>
        </div>

      <section>
        <div class="grid-row quote-wrap">
          <div class="column-one-half">
            <img src="/assets/images/case-studies/Hamza.jpg" alt="Ahmad standing in a field">
          </div>
          <div class="column-one-half vertical-align">
            <p>
              <span class="quote">“I am taking the Mosaik course to remove obstacles to university in order to study social work or political science. I also want to help people, because in Sudan, all my generation they are lost – they don’t get an education.”</span>
              <br>Hamza – student from Sudan
            </p>
          </div>
        </div>
        <div class="grid-row">
          <div class="column-one-half vertical-align">
            <p>
              We emphasise dialogue and participation. Drawing on student experiences to create relevant content, helping them to feel valued and empowered within the classroom.
              <br><br>
              We reduce reliance on expensive materials, making Mosaik classes cheaper to scale across community centres.
            </p>
          </div>
          <div class="column-one-half">
            <img src="/assets/images/case-studies/english.jpg" alt="Students in conversation">
          </div>
        </div>
        <div class="grid-row quote-wrap" id='hamza'>
          <div class="column-two-thirds">
            <p>
              <span class="quote">“I am not just learning English. It’s allowing me to develop my critical thinking. I’m focussing on the ideas in the class and how to structure things in a different way.”</span>
              <br>Hamza – student from Sudan
            </p>
          </div>
        </div>
      </section>
      <div class="grid-row no-padding-bottom">
        <div class="column-one-whole">
          <div class="divider"></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-one-half">
          <img src="/assets/images/case-studies/map-2.png" alt="Map showing Jordan and Lebanon">
        </div>
        <div class="column-one-half vertical-align">
          <p class="medium-text">
            This year we aim to train local English teachers at an additional three community centres in Jordan and Lebanon.
          </p>
        </div>
      </div>
      {% include donate.html %}
    </main>
    {% include footer.html %}
  </body>
</html>
