<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="{{page.title | downcase | replace: ' ', '-' }}">
    {% include header.html %}
    <main>
      <section>
        <div class="grid-row">
          <div class="column-two-thirds">
            <h1>{{page.title}}</h1>
            <div class="content-block">
              {{content}}
              <ul>
                {% assign opportunitiesCount = false %}
                {% for opportunity in site.opportunities %}
                  {% if opportunity.live == "yes" %}
                    {% assign opportunitiesCount = true %}
                    <li>
                      <a href="{{ opportunity.url }}">{{ opportunity.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              {% if opportunitiesCount == false %}
                There are no open opportunities at the moment but please get in touch if you are interested in working with us at <a href="mailto:hello@mosaik.ngo">hello@mosaik.ngo</a>.
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
