<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="{{page.title | downcase | replace: ' ', '-' }}">
    {% include header.html %}
    <main>

  <section class="Who we are">
    <div class="grid-row heading centred">
      <div class="column-one-whole">
        <h1>Our team</h1>
      </div>
    </div>
    <div class="grid-row">
    <div class="column-one-third">
      <div class="card">
        <div class="image">
          <img src="/assets/images/profiles/ben.png" alt="Ben Webster">
        </div>
        <div class="content">
          <h3>Ben Webster</h3>
          <p>
            Ben is Founder and CEO of Mosaik.
          </p>
          <p>
            Ben previously worked at the International Organisation for Migration (IOM) Syria crisis team in Jordan, the UK Foreign Office, and Transparency International, and has led research on peer-to-peer platforms for the UK Government.
          </p>
        </div>
      </div>
    </div>

    <div class="column-one-third">
      <div class="card">
        <div class="image"><img src="/assets/images/profiles/miki.png" alt="Miki Aristorenas"></div>
        <div class="content">
          <h3>Miki Aristorenas</h3>
          <p>
            Miki Manages the Dardachat programme.
          </p>
          <p>
            Miki holds a Masters degree (Ed.M.) in International Education Policy from the Harvard Graduate School of Education. Miki has worked on international and US policy projects with education non-profits in the United States, with the Swedish Education Ministry, the Department of Education in the Philippines and English language centres.
          </p>
        </div>
      </div>
    </div>

    <div class="column-one-third">
      <div class="card">
        <div class="image"><img src="/assets/images/profiles/mirey.jpg" alt="Mirey Alfarah"></div>
        <div class="content">
          <h3>Mirey Alfarah</h3>
          <p>
            Mirey manages our e-content and online learning platform.
          </p>
          <p>
            Mirey’s currently writing her doctoral thesis on the role of Information and Communication Technologies in education in countries affected by armed conflicts. She has over 15 years of work experience in the corporate, government and non-profit sector in the Middle East and in Europe.
          </p>
        </div>
      </div>
    </div>

    <div class="column-one-third">
      <div class="card">
        <div class="image"><img src="/assets/images/profiles/mira.jpg" alt="Mira Zaghbour"></div>
        <div class="content">
          <h3>Mira Zaghbour</h3>
          <p>
            Mira works on our guidance programmes in Lebanon.
          </p>
          <p>
            Mira’s an activist within multiple groups in Lebanon, with a strong background in student initiatives that promote the rights of marginalized communities, such as refugees. Holding an engineering degree, she employs her analytical skills to understand the complexities of the refugee situation in Lebanon. She is also actively interested in feminism along with economic and social justice.
          </p>
        </div>
      </div>
    </div>

    <div class="column-one-third">
      <div class="card">
        <div class="image"><img src="/assets/images/profiles/rita.png" alt="Rita Akroush"></div>
        <div class="content">
          <h3>Rita Akroush</h3>
          <p>
            Rita works on our guidance programmes in Jordan.
          </p>
          <p>
            Rita graduated from New York University in Abu Dhabi. She spent two years teaching, developing curricula and mentoring students in Amman.  She has also volunteered as a teacher and instructor in several centers in Abu Dhabi and Jordan.
          </p>
        </div>
      </div>
    </div>

    <div class="column-one-third">
      <div class="card">
        <div class="image"><img src="/assets/images/profiles/mai.png" alt="Mai Nasrallah"></div>
        <div class="content">
          <h3>Mai Nasrallah </h3>
          <p>
            Mai manages Mosaik’s Guidance workshop programme.
          </p>
          <p>
            Mai holds a Masters degree in Human rights from London School of Economics and Political Science, and has worked in the humanitarian space in designing and implementing youth programmes in Jordan since 2016.
          </p>
        </div>
      </div>
    </div>

    <div class="column-one-third">
      <div class="card">
        <div class="image"><img src="/assets/images/profiles/feras.jpg" alt="Feras Khair"></div>
        <div class="content">
          <h3>Feras Khair</h3>
          <p>
            Feras is coordinating our Monitoring, Evaluation and Learning component.
          </p>
          <p>
            Feras has an over 8 years’ experience as a humanitarian, international aid professional. He worked under emergency and sensitive environments, with several INGOs such as Mercy Corps and CARE International. He is currently a fellow at the US Institute of Peace.              </p>
        </div>
      </div>
    </div>

    <div class="column-two-thirds">
    </div>

    </div>
  </section>

  <div class="grid-row no-padding">
    <div class="column-one-whole">
      <div class="divider"></div>
    </div>
  </div>

  <section class="case-studies">
    <div class="grid-row heading centred">
      <div class="column-one-whole">
        <h2>Our board</h2>
      </div>
    </div>
    <div class="grid-row">
    <div class="column-one-third">
      <div class="card">
        <div class="image">
          <img src="/assets/images/profiles/frances.png" alt="Sianne Haldane">
        </div>
        <div class="content">
          <h3>Frances Guy</h3>
          <p>
            Frances is currently UNDP Regional Gender Advisor based in Amman. She previously worked as the Head of Middle East at Christian Aid based in London and as the representative of UN Women in Iraq between May 2012 and December 2014. Prior to 2012, Frances was a career diplomat in the British Foreign Service where she served as ambassador to Yemen and to Lebanon.
          </p>
        </div>
      </div>
    </div>
      <div class="column-one-third">
        <div class="card">
          <div class="image"><img src="/assets/images/profiles/francis.png" alt="Diana Laurillard"></div>
          <div class="content">
            <h3>Francis Campbell</h3>
            <p>
              Francis is currently the Vice Chancellor of St Mary’s University, Twickenham. Previously he served as a member of the UK foreign service, with postings covering the European Union, the UN Security Council in New York, Italy and at the FCO in London. Between 1999 and 2003, he served on the staff of the then Prime Minister Tony Blair, first as a Policy Adviser in the No. 10 Policy Unit and then as a Private Secretary for Foreign Affairs.
            </p>
          </div>
        </div>
      </div>
      <div class="column-one-third">
        <div class="card">
          <div class="image"><img src="/assets/images/profiles/george.png" alt="Sarah Broad"></div>
          <div class="content">
            <h3>George McNamara</h3>
            <p>
              George is currently the Director of Policy, Research & Innovation at Fight for Sight in the UK. Previously he was the Director of Policy and Public Affairs at the Alzheimer’s Society, Head of Advocacy & Policy at the British Red Cross, and Policy & Public Affairs Manager at NCH children’s charity (now Action for Children).
            </p>
          </div>
        </div>
      </div>
      <div class="column-one-third">
        <div class="card">
          <div class="image"><img src="/assets/images/profiles/diana.png" alt="Diana Laurillard"></div>
          <div class="content">
            <h3>Diana Laurillard</h3>
            <p>
              Diana is Professor of Learning with Digital Technologies at the London Knowledge Lab, UCL Institute of Education. Her research includes large-scale online communities of teacher-designers, and the use of specialised digital course design tools to enable teachers to create and share new pedagogies for using learning technology.
            </p>
          </div>
        </div>
      </div>
      <div class="column-one-third">
        <div class="card">
          <div class="image"><img src="/assets/images/profiles/sarah.png" alt="Sarah Broad"></div>
          <div class="content">
            <h3>Sarah Broad</h3>
            <p>
              Sarah is Chief Operating Officer at New Philanthropy Capital and is a qualified chartered accountant. She completed her training with PricewaterhouseCoopers in the UK and Australia before moving into finance roles in the private sector including: Computershare, STA Travel and the International Accounting Standards Board. Before joining New Philanthropy Capital, Sarah was the Chief Financial Officer at Leonard Cheshire Disability.
            </p>
          </div>
        </div>
      </div>
      <div class="column-one-third">
        <div class="card">
          <div class="image">
            <img src="/assets/images/profiles/sianne.png" alt="Sianne Haldane">
          </div>
          <div class="content">
            <h3>Sianne Haldane</h3>
            <p>
              Sianne Haldane is Head of Planned Giving Philanthropy at Cancer Research UK. She read Law and International Relations at The University of Witwatersrand, Johannesburg, before training as an attorney at Webber Wentzel in South Africa. She then spent two years as a Trust Officer at Maitland & Co. in Luxembourg and Dublin. In 2006 she moved into the not-for-profit sector and joined Cancer Research UK working across a broad range of fundraising roles and now heads up the Planned Giving Philanthropy team.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
